@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: rgba(61, 58, 58, 0.918);
}

  

.navbar {
  padding: 0.8rem;
  margin-bottom: 25px;
}
.navbar-nav li {
  padding-right: 20px;
  color: white;
}
.nav-link {
  font-size: 1.1em !important;
}
.nav-item:hover {
    color:red;
}

header {
  text-align: center;
  font-size: x-large;
  margin-left: 20%;
  margin-right: 20%;
}

header a:link {
  text-decoration: none;
  color: red;
}

header a:visited {
  text-decoration: none;
  color: red;
}

header {
  text-align: center;
  font-size: x-large;
  font-family: "Underdog";
  margin-left: 19.8%;
  margin-right: 19.8%;
}

a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  text-decoration: none;
  color: red;
}
.container {
  width: 100%;
  height: 120%;
  background-color: #222;
}
.col-sm-8 {
  margin-top: 4rem;
}
.col-sm-12 {
  color: white;
}
p {
  text-indent: 10px;
}

/*#obr_char
{   box-sizing: content-box;  
    
     background-image:url(Iron_Man_charakter.JPG);
     position:absolute;
    height:40%;
    width:40%;
    top:40%;
    left:30%
    background-size: 330px 330px; 
   
    
    background-repeat: no-repeat;
} */

.red {
  color: red;
}

.bunka_atext {
  float: left;
  color: black;
  
}

.bunka_a {
  vertical-align: top;
  border: 1px solid white;
  background-color: red;
  text-align: left;
}
.bunka_b {
  display: block;
  border: 1px solid white;

  width: 90%;

  color: black;
  background-color: grey;
}

.karma_spoiler1 {
  display: block;
  float: left;
  width: 370px;
  height: 16px;
}
.karma_spoiler1:hover {
  display: none;
}
.karma_spoiler2 {
  display: none;
  float: left;
  width: 370px;
  height: 16px;
}
.karma_spoiler2:hover {
  display: block;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .carousel-caption {
    top: 45%;
  }
  .col-sm-8 {
    margin-top: 4rem;
  }
@media (max-width: 845px){

  .col-sm-8 {
    margin-left: 10%;
  }
  .bunka_b{
    width:50%;
    padding-left: 10px;
  }
  .container {
    height: 200%;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }

  .display-4 {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .col-sm-8 {
    margin-top: 1rem;
  }

  .carousel-indicators {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    height: 200%;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
